* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd3de;
  background-image: url(./img/a.jpg);
  color: black;
  font-family: "Rampart One", cursive;
}

.comoJogar h1 {
    padding: 20px;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

.comoJogar p {
  padding: 20px;
  font-size: 30px;
  text-align: justify;
}

.comoJogar img {
  height: 40px;
  width: 40px;
  display: flex;
  margin: 15px;
}

footer {
    height: 75px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 0;
    width: 100%;
  }

  @media (max-width: 750px) {
    body {
      margin: 20px;
      font-family: 'Rampart One', cursive;
    }
    .comoJogar h1 {
      font-size: 30px;
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .jogador-maquina {
      height: 100px;
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    #h3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    #cbOp {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    #placar-container {
      margin-bottom: 100px;
    }
  }
